.example-card {
    max-width: 900px;
    margin-top: 5px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }