
<div class="margin">


<mat-stepper  linear="true" #stepper>
    <mat-step [stepControl]="form2">
      <div class="example-container">
      <form [formGroup]="form2">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <mat-label>Image</mat-label>
          <input type="url" matInput placeholder="Image" formControlName="img" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Birthday</mat-label>
          <input type="date" matInput placeholder="Birthday" formControlName="birthday" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>End date</mat-label>
          <input type="date" matInput placeholder="End date" formControlName="death" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Employe id</mat-label>
          <input matInput placeholder="Employe id" formControlName="employeId" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Role</mat-label>
          <input matInput placeholder="Role" formControlName="role" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Country</mat-label>
          <input matInput placeholder="Country" formControlName="country" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>GB/GF</mat-label>
          <input matInput placeholder="GB/GF" formControlName="gbgf" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Years working</mat-label>
          <input type="number" matInput placeholder="Years working" formControlName="seniority" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
      </div>
    </mat-step>
    <mat-step [stepControl]="form" label="Fill out your address">
      <div class="example-container">
      <form [formGroup]="form">
        <div class="example-form-fields">
        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <mat-option value="change">Career change</mat-option>
              <mat-option value="DEAD">Deceased</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" formControlName="title" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Subtitle</mat-label>
          <input matInput placeholder="Subtitle" formControlName="subtitle" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Brief description</mat-label>
          <input matInput placeholder="Brief description" formControlName="description" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Message</mat-label>
          <textarea matInput placeholder="Message" formControlName="message" required rows="3" cols="50"></textarea>
        </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Review</ng-template>
      <div class="center">
      <button   mat-flat-button (click)="addMemory()">Publish Memory</button>
    </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>

<!--
<mat-card class="centered-card" appearance="outlined">
  <mat-card-header style="text-align: center;">
    <mat-card-title>Leave a special comment</mat-card-title>
    <br>
    <br>
    <br>
  </mat-card-header>
   <mat-card-content>
    <form [formGroup]="formGroup" class="example-form">
   

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Name</mat-label>
      <input required formControlName="name" matInput placeholder="Your Name" style="width:600px !important">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
 
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Image</mat-label>
      <input type="url"  formControlName="url" matInput placeholder="Your img optional" style="width:600px !important">
      <mat-icon matSuffix>link</mat-icon>
    </mat-form-field>
  

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Your messsage</mat-label>
      <textarea  required formControlName="message" matInput [rows]="4" [cols]="50"></textarea>
    </mat-form-field>

     
</form>
  </mat-card-content>
  <mat-card-actions>
    <button class="button" mat-flat-button (click)="addMemory()">Publish</button>
  </mat-card-actions>
</mat-card>-->