.centered-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 100px 0px 100px;
  }
  .my-image-margin {
    margin-right: 16px;
    margin-left: 24px;
  }

  .example-card {
    max-width: 900px;
    min-width: 900px;
    margin-top: 5px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
  }
  ::ng-deep .mat-input-wrapper{
    width:400px !important;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }