.centered-card {
    display: flex;
    justify-content: center;
    align-items: center;
max-width: 800px;
    margin: 10px 300px 0px 300px;
  }
  .my-image-margin {
    margin-right: 16px;
    margin-left: 24px;
  }

  ::ng-deep .mat-input-wrapper{
    width:400px !important;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .button{
    background-color: rgb(219,0,17);
  }